
/.idea
Graphics
Audio
Gameplay
Display
Interface
System
Mouse and Gamepad
/players
*.log
__pycache__/help_texts.cpython-312.pyc
/minified
CallOfDutyOptionsEditor.exe
application_log.txt
/build
/dist
COD-Settings-Changer.spec
